# API Configuration
PROJECT_NAME=COFFEEAPP-API
API_V1=/api/v1
ENV=development

# Database Configuration
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=coffeeapp-postgres-container  # Name of the PostgreSQL container
DB_PORT=5432

DATABASE_URL=postgresql://postgres:5104@coffeeapp-postgres-container:5432/coffeeapp

# JWT Configuration
JWT_SECRET_KEY=
JWT_ALGORITHM=

# Redis Configuration
REDIS_HOST=coffeeapp-redis-container # Name of the Redis container
REDIS_PORT=6379

# pgadmin4 Configuration
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Email Configuration
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=